*{
  overflow: visible;
}

#navigation-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: lightskyblue;
}

#navigation-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navigation-menu li{
  float: right;
}

#navigation-menu li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigation-menu li a:hover {
  background-color: lightblue;
}

a {
  text-decoration: none;
}